.ts-header {
  background-image: url('../../assets/images/head-bg.jpg');
  background-repeat: repeat-x;
  height: 60px;
  padding-left: 30px;
  padding-right: 16px;
  line-height: 60px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 1em;
  background-color: rgba(50, 50, 50, 0.1);
}
.ts-header .mobile {
  display: none;
}
@media (max-width: 576px) {
  .ts-header {
    padding: 0 20px;
    line-height: 60px;
  }
  .ts-header .pc {
    display: none;
  }
  .ts-header .mobile {
    display: flex;
    align-items: center;
  }
  .ts-header .mobile span[role='img'] {
    color: #fff;
    font-size: 18px;
  }
  .ts-header .mobile .logo {
    flex-grow: 1;
    text-align: center;
  }
  .ant-layout.ant-layout-has-sider aside.sider {
    display: none;
  }
}
