@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1636614326574') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weiwangguanicon-defuben-:before {
  content: "\e670";
}

.icon-info:before {
  content: "\e652";
}

.icon-warning-filling:before {
  content: "\e68b";
}

