.ts-detail-label Text {
    color: #8a8e99;
}

.ts-carousel-color li button {
    background:black !important;
}

.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover {
    left: 10px;
    z-index: 2;
    color: black;
    font-size: 20px;
    height: 30px;
}

.ant-carousel .slick-dots-bottom {
    bottom: -20px;
}

.ant-carousel .slick-next,
.ant-carousel .slick-next:hover {
    right: 10px;
    z-index: 2;
    font-size: 20px;
    height: 30px;
    color: black;
}