.introduction {
  position: relative;
  padding: 24px;
  padding-left: 84px;
  background-color: #fff;
}
.introduction .introduction-title {
  margin-top: -3px;
  margin-bottom: 16px;
}
.introduction .introduction-title h3 {
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
.introduction .introduction-icon {
  position: absolute;
  top: 24px;
  left: 24px;
  height: 36px;
  width: 36px;
  border-radius: 24px;
  text-align: center;
  padding-top: 4px;
}
.introduction.shadow {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.06);
}
.introduction.normal .introduction-icon {
  background-color: #28a745;
}
.introduction.info .introduction-icon {
  background-color: #ffc107;
}
.introduction.warn .introduction-icon {
  background-color: #fe6d2c;
}
.introduction.danger .introduction-icon {
  background-color: #ff0000;
}
.introduction.focus .introduction-icon {
  background-color: #fff;
}
.introduction.normal.focus .introduction-icon .icon-svg {
  fill: #28a745;
}
.introduction.info.focus .introduction-icon .icon-svg {
  fill: #ffc107;
}
.introduction.warn.focus .introduction-icon .icon-svg {
  fill: #fe6d2c;
}
.introduction.danger.focus .introduction-icon .icon-svg {
  fill: #ff0000;
}
