
.ts-header {
    background-image: url("../../assets/images/head-bg.jpg");
    background-repeat: repeat-x;
    height: 60px;
}

.ts-header .ts-title {
    color: white;
    font-weight: 600;
    letter-spacing: 2pt;
    font-size: 14pt;
}

.ts-header .ts-menu {
    color: white;
    font-size: 10pt;
    letter-spacing: 1pt;
}

.ts-breadcrumb {
    font-weight: 600;
    font-size: 14pt;
}

.ts-console {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .3);
}

::-webkit-scrollbar-track {
    border-radius: 1em;
    background-color: rgba(50, 50, 50, .1);
}
.ts-header .mobile{
    display: none;
}
@media (max-width:576px){
    .ts-header {
        padding: 0 20px;
        line-height: 60px;
    }
    .ts-header .pc{
        display: none;
    }
    .ts-header .mobile{
        display: flex;
        align-items: center;
    }
    .ts-header .mobile span[role='img']{
        color:#fff;
        font-size: 18px;
    }
    .ts-header .mobile .logo{
        flex-grow:1;
        text-align: center;
    }
    .ts-console aside.sider{
        display: none;
    }
}