dl.name-value-groups {
  margin: 0;
}
.name-value {
  display: flex;
  line-height: 30px;
}

.name-value dt {
  max-width: 15em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #8a8e99;
}
.name-value dd {
  margin: 0;
}
